.services .related-job-title .tags span {
  background-color: #efeff0;
  color: #74767e;
  border-radius: 32px;
  font-size: 13.5px;
  font-weight: 600;
  margin: 0 5px 15px;
  padding: 8px 10px;
  display: inline-block;
}
.services .mostpopular__list .mostpopular__item p {
  font-size: 16px;
  white-space: nowrap;
  word-wrap: none;
}
.services .mostpopular__list .mostpopular__item {
  border-radius: 10px;
  box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%),
    0 0.37px 4.42626px rgb(0 0 0 / 5%), 0 3px 7px rgb(0 0 0 / 9%);
}
.services .banner {
  background-color: rgb(6, 61, 6);
}
