
#profile .detail .avatarUser,#profile .detail .desc,#bookedJob .bookedJob .job{
    border: 1px solid #dadbdd;
}
#profile .detail .desc .description, #profile .detail .desc .skills,#profile .detail .desc .certification{
    border-bottom: 1px solid #dadbdd;
}
#profile .detail .avatarUser .avatar{
    width: 150px;
    height: 150px;
    
}
#profile .detail .avatarUser .avatar div{
    border-radius: 50%;
}
#profile .detail .avatarUser .avatar div img{
    border-radius: 50%;
}
#buttonDetail {
    border: 1px solid rgb(34 197 94);
}
#descProfile{
    transition: all 0.5s;
}